<div class="wrapper app-bg">
  <div class="verify__container">
    <h1 class="verify__header">Code Verification</h1>
    <p class="verify__description">
      Enter the code verification you received at<br />
      <b>{{email}}</b><br />
      Verification code is expired in:
      <b class="count-down" data-time={{expired}}>{{expired}}s</b>
    </p>
    <div class="verify__input">
      <input type="text" name="inputFirst" id="inputFirst" class="input-code" maxlength="1" />
      <input type="text" name="inputSecond" id="inputSecond" class="input-code" maxlength="1" />
      <input type="text" name="inputThird" id="inputThird" class="input-code" maxlength="1" />
      <input type="text" name="inputFourth" id="inputFourth" class="input-code" maxlength="1" />
      <input type="text" name="inputFifth" id="inputFifth" class="input-code" maxlength="1" />
    </div>
    <div class="verify__btn">
      <button class="btn btn-confirm">Confirm</button>
      <button class="btn btn-resend" data-email={{email}} data-userName={{userName}}>Resend</button>
    </div>
  </div>

  <div class="load-animate">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-triple">
        <div class="spinner-triple">
          <div class="spinner-triple"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="/JS/verify-code.js"></script>
</div>